<div class="jumbotron">
  <h1 class="display-4">Catálogo</h1>
  <p class="lead">Me estoy mudando y este es un listado de las cosas que estoy vendiendo.</p>
  <hr class="my-4">
  <p>Vista la urgencia, los precios están bastante rebajados respecto del mercado, por eso es que no podría negociarlos aún más.</p>
  <p>
    Dado todo lo que conlleva una mudanza, no estoy en condiciones de embalar las cosas ni hacer envíos. Por eso, todo lo que compres se retira en Palermo (zona Plaza Güemes).
  </p>
  <p>Aunque no estés buscando comprar nada en particular, te invito a que te des una vuelta por el listado, seguramente encuentres una oportunidad.</p>
  <p>Acepto cryptos! :) </p>
  
  <a class="btn btn-primary btn-lg" href="#" routerLink="/listado" role="button">Ver listado</a>
</div>