<h1>Por vender</h1>
<div class="row">
  <div *ngFor="let product of listOfProducts" class="col-sm-5 card-container">
    <div class="card">
        <img class="card-img-top" [src]="product.imageUrls[0]" alt="Card image cap" width="25">
      <div class="card-body">
        <h5 class="card-title"><span *ngIf="product.sold" style="color: red; font-weight: bold;">[VENDIDO] </span>{{product.title}}</h5>
        <p class="card-text">
            <span class="d-inline-block text-truncate" style="max-width: 100%;max-height:10vh" [innerHTML]="product.description">
          
            </span>
        </p>
        <h1><span class="badge badge-primary">{{product.price | currency}}</span></h1>
        <a href="#" routerLink="/listado/{{product.title}}" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
</div>
<h1>Vendidos!</h1>
<div class="row">
  <div *ngFor="let product of listOfSoldProducts" class="col-sm-5 card-container">
    <div class="card">
        <img class="card-img-top" [src]="product.imageUrls[0]" alt="Card image cap" width="25">
      <div class="card-body">
        <h5 class="card-title"><span *ngIf="product.sold" style="color: red; font-weight: bold;">[VENDIDO] </span>{{product.title}}</h5>
        <p class="card-text">
            <span class="d-inline-block text-truncate" style="max-width: 100%;max-height:10vh" [innerHTML]="product.description">
          
            </span>
        </p>
        <h1><span class="badge badge-primary">{{product.price | currency}}</span></h1>
        <a href="#" routerLink="/listado/{{product.title}}" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
</div>